.doodle-1 {
  height: auto;
  width: 60px;
  margin-top: -7rem;
  transform: rotate(5deg);
}

.doodle-2 {
  height: auto;
  width: 60px;
  margin-top: -7rem;
  transform: rotate(5deg);
}

.doodle-3 {
  height: auto;
  width: 60px;
  margin-top: -7rem;
  transform: rotate(5deg);
}


@media (max-width: 600px) {
  .doodle-1 {
    margin-top: -5rem;
  }
}