@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --white: #eeeff2;
  --background-medium: #bbc9f3;
  --background-dark: #292f41;
  --background-light: #e5ebf0;
  --background-dot: #b1b4bb3e;
  --foreground: #b1b4bb;
  --accent-1: #ef3e23;
  --accent-2: #0f8b8d;
  --accent-3: #bbc9f3;
  --font-primary: #292f41;
  --font-secondary: #eeeff2;
  --font-accent-1: #ef3e23;
  --font-accent-2: #0f8b8d;
  --font-accent-3: #bbc9f3;
  --nav-height: 60px;
  --scroll-margin: 20px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 20px; 
}

#work {
  scroll-margin-top: -200px; 
}

#pricing {
  scroll-margin-top: -85px; 
}

#faqs {
  scroll-margin-top: 20px; 
}

.starter-site-container section {
  scroll-margin-top: 20px;
}

.oswald {
  font-family: "Oswald", sans-serif;
  letter-spacing: -1px;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.box-shadow {
  box-shadow: 6px 6px 14px #292f4156;
}

.no-wrap {
  white-space: nowrap;
}

.golbi-name {
  display: inline;
  color: var(--font-accent-1);
}




.our-work-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: black;
}

.spotlight-card {
  flex: 1 1 30%;
  border: 1px solid #ddd;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}
.screenshots img {
  width: 100%;
  margin-top: 0.5rem;
}
.see-live-btn {
  display: inline-block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}





.our-work-vertical {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: gray;
}

.spotlight-vertical {
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
}
.screenshots-vertical img {
  width: 100%;
  margin-top: 1rem;
}










body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--font-secondary);
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.main-container {
  position: relative;
  width: calc(100vw - 2rem);
  max-width: 1440px;
  min-height: calc(100vh - 2rem);
  margin: 1rem 0;
  overflow: hidden;
  background: var(--background-dark);
  background-image: radial-gradient(
    var(--background-dot) 1px,
    transparent 1.5px
  );
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  border-radius: 15px;
  border-top-left-radius: 0;
  z-index: 1;
}

.section-header {
  font-size: 3.2rem;
  font-weight: 500;
}

.top-nav-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 1.5rem;
  right: 1rem;
  z-index: 100;
}

.top-nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  margin: 0 7px 4px 0;
  border-radius: 6px;
  border: 1.2px solid var(--font-secondary);
  background-color: var(--background-dark);
  font-size: 0.9rem;
  color: var(--font-secondary);
  transition: all linear 0.2s;
}

.top-nav-btns:hover {
  background-color: var(--background-light);
  font-size: 0.9rem;
  color: var(--font-primary);
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;
  max-height: 575px;
  max-width: 1300px;
  width: 100%;
}

.intro-logo {
  position: absolute;
  top: -1rem;
  left: -0.5rem;
  width: 152px;
  padding: 1rem 0rem 1rem 0.5rem;
  background-color: var(--white);
  border-bottom-right-radius: 1rem;
}

.intro-logo-arch-right,
.intro-logo-arch-left {
  position: absolute;
}

.intro-logo-arch-right {
  top: -14.5px;
  left: 129.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.intro-logo-arch-left {
  top: 62.5px;
  left: -14.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.intro-headline {
  max-width: 730px;
  font-size: 4rem;
  font-weight: 800;
  font-family: "Oswald";
  text-align: center;
  line-height: 1;
  margin-top: 3rem;
}

.intro-headline span {
  color: var(--accent-1);
}

.intro-subhead {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.intro-header-container-right {
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  width: 40%;
  font-size: 1.1rem;
}

.intro-header-container-right .intro-cta > * {
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 6px 6px 14px #292f4141;
  height: 100%;
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 6rem;
  height: 100%;
}

.about-content {
  position: relative;
  padding: 3rem;
  color: var(--font-secondary);
  background-image: linear-gradient(to bottom right, #ff5d44 10%, #ef3e23 30%);
  border-radius: 1rem;
  opacity: .9;
  box-shadow: 2px 2px 15px #00000083;
}

.about-spider-1,
.about-spider-2 {
  position: absolute;
  width: 75px;
  opacity: 1;
}

.about-spider-1 {
  top: 1.5rem;
  left: -1rem;
  transform: rotate(90deg);
}

.about-spider-2 {
  bottom: -3px;
  right: 1rem;
}

.about-copy {
  margin-bottom: .5rem;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.29;
  font-weight: 200;
  text-align: center;
}

.about-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.about-link:hover {
  color: var(--font-primary);
}

.steps-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 2rem;
}

.steps-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1000px;
  border-radius: 0.5rem;
}

.steps-content > * {
  background: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 1rem;
}

.steps-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--font-primary);
  padding: 0.3rem 0;
  background-color: var(--white);
  border: 2px solid var(--font-primary);
  border-radius: 0.5rem;
}

.steps-golbi-name {
  margin: 0 0.3rem;
  color: var(--font-accent-1);
}

.hire-to-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* grid-auto-rows: minmax(150px, 200px); */
  gap: 1rem;
  width: 100%;
  height: 100%;
  min-height: 530px;
  flex-grow: 1;
}

.hire-to-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--font-secondary);
  background-color: var(--background-dark);
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  background-image: radial-gradient(
    var(--background-dot) 1px,
    transparent 1.5px
  );
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  /* box-shadow: 4px 4px 10px #292f416c; */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--accent-2);
  border-radius: 50%;
}

.hire-to-icon {
  font-size: 1.6rem;
  color: var(--font-secondary);
}

.intro-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 2rem;
}

.intro-cta-italic {
  font-style: italic;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

.intro-cta-copy-container {
  margin: 2.5rem 0;
}

.intro-cta-copy {
  font-size: 1.4rem;
  line-height: 1.1;
  text-align: center;
  color: var(--font-primary);
}

.intro-cta-copy-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.intro-cta-copy-2,
.intro-cta-copy-3,
.intro-cta-copy-4 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.3;
  border-radius: 0.5rem;
  background-color: var(--background-medium);
  color: var(--font-primary);
  box-shadow: 4px 4px 7px #292f4138;
}

.intro-cta-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: linear-gradient(to bottom right, #ef3e23, #ef3e23 10%, #ef3e23);
  color: var(--font-secondary);
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.intro-cta-copy-5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.intro-cta-copy-5 > span {
  font-weight: 200;
}

.intro-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.intro-button {
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 300px;
}

.intro-radar-text {
  display: flex;
  align-items: center;
  color: var(--font-primary);
  margin-right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 200;
}

.intro-radar-text > .radar {
  margin-left: 6px;
}

/* BENEFITS SECTION  */

.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 2rem;
}

.benefits-header {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.benefits-header .benefits-name {
  font-size: 4.7rem;
  color: var(--font-accent-1);
}

.benefits-subhead {
  max-width: 700px;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}

.lottie-container {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  background-color: #eeeff2;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 14px #292f4141;
}

.benefits-lottie-meeting {
  position: absolute;
  top: -3.2rem;
  left: -5.3rem;
  width: 270px;
}

.benefits-lottie-heart {
  position: absolute;
  bottom: 0.7rem;
  height: 120px;
  width: 120px;
  margin-bottom: -1.5rem;
}

.benefits-lottie-fingerprint {
  height: 70px;
  width: 70px;
}

.benefits-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  padding-block: 3rem;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  text-align: center;
  line-height: 1.3;
  margin: 0 2rem 4rem;
}

.benefits-item-header {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.benefits-item-copy {
  padding: 1rem;
}

.benefits-pricing-btn {
  margin-top: -3rem;
}


/* CASE STUDIES SECTION */

.case-studies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem 2rem;
}

.case-studies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 1190px;
  background-color: var(--background-dot);
}

.case-studies-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.case-studies-header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: var(--font-accent-1);
  background-color: var(--font-primary);
  background-image: radial-gradient(var(--background-dot) 1px, transparent 1.5px);
    background-position: -4px 5px, 50px 50px;
    background-size: 20px 20px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
  width: 100%;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  border-radius: 10px;
}

.case-studies-content-header {
  font-family: "Oswald", sans-serif;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: var(--font-accent-1);
  background-color: var(--background-light);
  background-image: radial-gradient(var(--background-medium) 1px, transparent 1.5px);
    background-position: -4px 2px, 50px 50px;
    background-size: 20px 20px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  border-radius: 10px;
}

.case-studies-header span {
  color: var(--white);
}

.case-studies-top-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.case-studies-content {
  display: flex;
  width: 100%;
  padding: 1rem 0 3rem;
}

.case-studies-subheader {
  align-self: center;
  text-align: center;
  max-width: 700px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.1;
  color: var(--white);
}

.case-study-card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
}

.case-study-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  color: var(--font-accent-1);
  text-shadow: 1px 1px 8px var(--background-dark);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.case-study-type.type-right {
  right: 5%;
}

.case-study-type.type-left {
  left: 5%;
}

.case-study-container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 11;
  opacity: 0.2;
  transition: all linear 0.2s;
  border-radius: 0.5rem;
}

.case-study-container-overlay:hover {
  opacity: 0;
}

.case-studies-screenshot {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 4px 10px 12px #292f412f;
}

.case-study-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 56.3%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--white);
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}

.case-study-inner {
  display: flex;
}

.case-study-container.align-left {
  align-self: flex-start;
  flex-direction: row;
}

.case-study-container.align-right {
  align-self: flex-end;
  margin-left: auto;
  flex-direction: row-reverse;
}

.case-study-img-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.case-study-hero-img {
  position: relative;
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
  z-index: 10;
}

.case-study-copy-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(20px);
  transition: opacity 0.4s ease, max-height 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  padding: 1rem;
  max-width: 500px;
  height: 100%;
  color: var(--font-primary);
  z-index: 1;
  overflow-y: auto;
}

.case-study-copy-container.show {
  opacity: 1;
  max-height: 500px; /* adjust based on expected content size */
  transform: translateY(0);
  pointer-events: auto;
}

.case-study-copy.from-left {
  left: 0;
}

.case-study-copy.from-right {
  right: 0;
}

.case-study-copy.show {
  opacity: 1;
  transform: translateY(0);
}

.case-study-copy-item {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.1;
}

/* .case-study-copy {
  flex: 0 0 40%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
} */

.case-study-copy.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.case-study-copy-item:first-child {
  color: var(--font-accent-1);
  font-weight: 500;
  font-size: 1.2rem;
}

.case-study-copy-item span {
  color: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 500;
}

.case-study-copy-list li {
  margin-left: 1rem;
}

.demo-btn {
  margin-top: 1rem;
}

.case-study-demo-btn {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: .95rem;
  color: var(--white);
  font-weight: 300;
  background-image: linear-gradient(to bottom right, #ff5d44 10%, #ef3e23 30%);
  box-shadow: 6px 6px 14px #292f4141;
  border: none;
  cursor: pointer;
}

.products-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-left: 2rem;
  border: 2px solid var(--background-dark);
  border-radius: 0.5rem;
}

.products-items-header {
  max-width: 380px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-primary);
  line-height: 1.15;
}

.products-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50%;
}

.products-item {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1.5px solid var(--font-secondary);
  color: var(--font-secondary);
  box-shadow: 6px 6px 14px #292f4141;
}

.products-item:last-of-type {
  background: var(--accent-1);
  color: var(--font-secondary);
  border: 1.5px solid var(--accent-1);
}




/* WORK SECTION */

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem 2rem;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 5rem;
  background: var(--white);
  border-radius: 0.5rem;
  max-width: 1190px;
}

.work-content {
  display: flex;
  padding: 1rem;
}

.work-copy-container {
  /* align-self: flex-start; */
}

.work-header,
.work-subhead {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-align: left;
}

.work-subhead {
  margin-left: 2rem;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  width: 100%;
  max-width: 1400px;
  border-radius: 0.5rem;
}

.work-item {
  position: relative;
  height: auto;
  width: 100%;
  transition: all linear 0.2s;
}

.work-item:hover {
  transform: rotate(10deg) scale(2);
  z-index: 2;
  box-shadow: 2px 2px 10px #dee4ea27;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 1;
  opacity: 0.2;
  transition: all linear 0.2s;
  border-radius: 0.5rem;
}

.work-overlay:hover {
  opacity: 0;
}

.work-screenshot {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 4px 10px 12px #292f412f;
}




/* PRICING SECTION */

.pricing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem 3rem;
  margin-top: 2rem;
}

.pricing-header {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 1.5rem;
}

.pricing-header-2 {
  margin: 6rem 0 2.5rem;
}

.pricing-header h1 {
  border-bottom: 2px solid var(--white);
  padding-bottom: 1.4rem;
}

.pricing-header-copy-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #242735 5%, #13151d 40%, #242735 95%);
  border-radius: .8rem;
  text-align: center;
  margin-top: 1.5rem;
}

.pricing-header-copy-container-bottom {
  justify-content: center;
  background-image: linear-gradient(to bottom right, #f3624c 5%, #ef3e23 40%, #f3624c 95%);
  border-radius: .8rem;
  text-align: center;
}

.pricing-header span {
  color: var(--font-accent-1);
}

.pricing-header-2 span {
  color: var(--background-dark);
}

.pricing-header-copy {
  max-width: 520px;
  font-size: 1.7rem;
  font-weight: 300;
}

.pricing-header-copy span {
  font-weight: 400;
}

.pricing-content {
  width: 100%;
  max-width: 1000px;
  margin: 1rem 0;
}

.pricing-toggle-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: .5rem 1.4rem;
  background-color: #13151d;
  color: var(--white);
  font-size: .95rem;
  font-weight: 200;
  border-radius: 50px;
  cursor: pointer;
}

.pricing-toggle-arrow {
  margin-left: .2rem;
}

.pricing-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.pricing-option {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 310px;
  min-width: 200px;
  min-height: 320px;
  padding: 1rem 1rem 1.8rem;
  margin-top: 2rem;
  background: linear-gradient(
    to bottom right,
    var(--white),
    #fff,
    var(--white)
  );
  color: var(--font-primary);
  border-radius: 0 0.5rem 0.5rem;
  text-align: left;
  box-shadow: 4px 10px 12px #292f412f;
}

.pricing-option-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-width: 200px;
  padding: 1.5rem;
  margin-top: 2rem;
  background: linear-gradient(
    to bottom right,
    #13151d9c,
    #13151d 10%,
    #13151d9c
  );
  color: var(--font-secondary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px #dee4ea27;
}

.pricing-cta-copy {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2;
}

.pricing-cta-copy span {
  text-decoration: underline;
  font-style: italic;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.pricing-cta-copy-1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.pricing-cta-copy-2 {
  max-width: 600px;
  font-weight: 200;
}

.pricing-option-3 {
  margin-top: 2.4rem;
}

.pricing-option-3 .pricing-cta-email {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4;
  cursor: pointer;
}

.pricing-option-3 .pricing-cta-email span {
  color: var(--font-accent-1);
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.2s linear;
}

.pricing-option-3 .pricing-cta-email span:hover {
  color: var(--font-accent-3);
}

.pricing-option-3 .pricing-cta-divider {
  padding: .5rem 0 .2rem;
  color: var(--white);
  font-weight: 200;
}

.pricing-radar-container {
  position: absolute;
  bottom: 30px;
  margin-top: auto;
}

.pricing-radar-text {
  font-size: 0.9rem;
  font-weight: 200;
  margin-right: 0.5rem;
}

.pricing-included-container > *,
.pricing-included-list > * {
  margin-bottom: 0.5rem;
  text-align: center;
}

.pricing-included-list > *:last-child {
  margin-bottom: 1rem;
}

.pricing-subgrid-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.pricing-plan-name {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -2.4rem;
  left: 0;
  padding: 0.4rem 2rem 2rem;
  width: 200px;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Oswald";
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  color: var(--font-secondary);
  background-color: var(--accent-1);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 4px 4px 12px #292f412f;
  z-index: -1;
}

.pricing-desc {
  font-size: 1rem;
  font-style: italic;
  font-size: 0.9rem;
}

.pricing-price {
  margin: 1rem 0;
  font-size: 3rem;
  /* font-family: "Oswald", sans-serif; */
  font-weight: 400;
  color: var(--font-accent-1);
}

.pricing-price span {
  font-size: 1rem;
}

.pricing-subterm {
  font-size: 0.8rem;
}

.pricing-included-container {
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.pricing-included-item {
  min-height: 24px;
}

.calendar-booking {
  display: inline-block;
  width: 100%;
  line-height: 1.4;
  font-size: 0.9rem;
  text-align: center;
  margin-top: auto;
  color: var(--font-primary);
  opacity: .6;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.calendar-booking:hover {
  opacity: 1;
}

.pricing-button {
  margin-top: 2rem;
}

.pricing-grid-bottom .pricing-button {
  margin-top: auto;
}


.site-feature-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  color: var(--background-dark);
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  background-color: var(--white);
  box-shadow: 10px 0 10px inset #83838348;
}

.site-feature-desc {
  font-weight: 500;
  line-height: 1.2;
}

.site-feature-header .site-feature-col {
  box-shadow: 10px 0 10px inset #d1cfcf36;
}

.site-name-container.left {
  box-shadow: none;
}

.site-feature-col-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
}

.site-feature-col.site-name-container {
  background-color: var(--accent-1);
}

.site-header-name {
  font-size: 1.2rem;
  color: var(--white);
  line-height: 1.25;
  font-weight: 500;
}

.site-header-name span {
  font-size: 2rem;
  font-weight: 300;
}

.site-feature-col.site-feature-col-blank {
  background-color: transparent;
}

.site-feature-col.site-feature-cta-container {
  flex-direction: column;
}

.site-name-container.left, 
.site-feature-cta-container.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.site-feature-header .site-feature-col:first-child {
  border-radius: 10px 0 0 10px;
}

.site-feature-header .site-feature-col {
  color: var(--font-primary);
}

.site-feature-row .site-feature-col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-2);
  border-radius: 10px 0 0 10px;
  box-shadow: none;
}

.site-feature-col:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 10px 10px 0;
}

.site-feature-header {
  display: flex;
  justify-content: space-evenly;
  box-shadow: none;
  border-radius: 10px;
  min-height: 70px;
  width: 100%;
  margin-bottom: 1rem;
}

.site-feature-row {
  display: flex;
  justify-content: space-evenly;
  min-height: 70px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.site-name {
  padding: 0 1rem;
  font-size: .9rem;
  font-weight: 300;
  color: var(--white);
}

.site-feature-check {
  font-size: 1.4rem;
  color: var(--accent-2);
}

.site-feature-text {
  font-size: 1rem;
  color: var(--accent-2);
}

.site-feature-x {
  font-size: 1.1rem;
  color: var(--accent-1);
}








/* SUPPORT SUBSCRIPTION PLANS */

.plan-feature-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  color: var(--background-dark);
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  background-color: var(--white);
  box-shadow: 10px 0 10px inset #83838348;
}

.plan-feature-col-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  color: var(--background-dark);
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  box-shadow: 10px 0 10px inset #83838348;
}

.plan-feature-col.site-plan-name-container {
  background-color: var(--accent-1);
}

.plan-feature-col.site-plan-name-container .header-name {
  font-size: 1.2rem;
  color: var(--white);
  line-height: 1.2;
}

.header-name span {
  font-size: 1.5rem;
}

.plan-feature-col.plan-feature-col-blank {
  background-color: transparent;
}

.plan-feature-col.plan-feature-cta-container {
  flex-direction: column;
}

.plan-feature-header .plan-feature-col:first-child {
  border-radius: 10px 0 0 10px;
}

.plan-feature-header .plan-feature-col {
  color: var(--font-primary);
}

.plan-feature-row .plan-feature-col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-2);
  color: var(--white);
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  box-shadow: none;
}

.plan-feature-col:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 10px 10px 0;
}

.plan-feature-header {
  display: flex;
  justify-content: space-evenly;
  /* background-color: var(--white); */
  box-shadow: none;
  border-radius: 10px;
  min-height: 70px;
  width: 100%;
  margin-bottom: 1rem;
}

.header-name {
  padding: 0 1rem;
}

.plan-feature-row {
  display: flex;
  justify-content: space-evenly;
  min-height: 70px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.plan-name {
  padding: 0 1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.plan-feature-check {
  font-size: 1.4rem;
  color: var(--accent-2);
}

.plan-feature-text {
  color: var(--accent-2);
}

.plan-feature-x {
  font-size: 1.1rem;
  color: var(--accent-1);
}












/* FAQ SECTION */
.faqs-section {
  display: flex;
  justify-content: center;
  /* min-height: 850px; */
  padding: 2rem;
  color: var(--font-secondary);
  margin: 0.5rem 0 2rem;
}

.faqs-header {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0 2rem 1rem 0;
  line-height: 1.1;
  color: var(--font-accent-1);
}

.faqs-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
  max-width: 1190px;
}

.faq-cta {
  align-self: self-start;
  padding: 3rem;
  margin-top: 3.7rem;
  background-image: linear-gradient(
    to bottom right,
    #0f8b8d3f,
    #0f8b8da7,
    #0f8b8d3f
  );
}

.faqs-copy {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  width: 90%;
  padding: 0.2rem 0;
  text-align: left;
  border-bottom: 1px solid var(--background-light);
}

.faqs-question-container {
  width: 100%;
}

.faqs-question {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  min-width: 100%;
}

.faqs-question p {
  margin-left: 0.5rem;
}

.faqs-answer {
  grid-column: 1 / -1;
  margin: 0rem 2rem 1.5rem 3rem;
  color: var(--font-accent-1);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  animation: growDown 500ms ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top center;
  /* text-shadow: 1px 1px 1px #d5d1d137; */
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.faqs-icon {
  font-size: 2.5rem;
  padding: 0.5rem;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.faqs-icon.open {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

/* BOTTOM CTA SECTION  */

.bottom-cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-height: 622px;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    var(--white),
    #fff,
    var(--white)
  );
  color: var(--font-primary);
  border-radius: 0.5rem;
  box-shadow: 4px 10px 12px #292f412f;
}

.bottom-cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-cta-header {
  max-width: 600px;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.bottom-cta-header span {
  color: var(--font-accent-1);
}

.bottom-cta-subhead-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-top: 0.5rem;
}

.bottom-cta-subhead {
  max-width: 700px;
  font-size: 1.2rem;
  font-weight: 200;
}

.bottom-cta-lottie-wink {
  position: absolute;
  right: -1.4rem;
  height: 90px;
  width: 90px;
  font-weight: 200;
}

.bottom-cta-copy {
  max-width: 530px;
  margin: 2rem 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

.bottom-cta-logo-container {
  position: relative;
}

.bottom-cta-logo {
  width: 100%;
  margin-top: 3rem;
  max-width: 300px;
}

.logo-trademark {
  position: absolute;
  right: 10px;
  bottom: -4px;
  font-size: 0.8rem;
  font-weight: 600;
}

/* FOOTER  */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin: 4rem 0 6rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-link,
.footer-desc {
  margin: 0 1rem;
  text-align: center;
  color: var(--font-secondary);
}

.footer-link:last-of-type {
  line-height: 1.5;
}

.footer-row-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  max-width: 800px;
}

.footer-row-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-row-2 > * {
  margin-bottom: 5px;
}

.footer-link {
  color: var(--font-secondary);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  color: var(--accent-1);
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 4rem 1rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-align: left;
  color: #333;
}

.subscribe-input,
.subscribe-select {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.subscribe-input:focus,
.subscribe-select:focus {
  border-color: var(--accent-1);
  outline: none;
}

.subscribe-button {
  align-self: center;
  cursor: pointer;
  border: none;
  background: none;
}

.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.success-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--font-accent-2);
  margin-bottom: 1rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--background-dark);
  background-image: radial-gradient(
    var(--background-dot) 1px,
    transparent 1.5px
  );
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  color: var(--font-primary);
  font-size: 1.1rem;
  padding: 2rem;
  min-height: 20rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  background: var(--accent-1);
  color: var(--background-light);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal-close-button:hover {
  opacity: 0.9;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-btns {
  width: 100%;
  padding: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--background-dark);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.modal-btns:hover {
  border: 1px solid var(--accent-2);
  background-color: var(--accent-2);
  color: var(--font-secondary);
}

.submit-pause-btn {
  width: 100%;
  padding: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--accent-1);
  color: var(--accent-1);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.submit-pause-btn:hover {
  background: var(--accent-1);
  color: var(--font-secondary);
}

.modal input {
  width: 100%;
  padding: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--background-dark);
  color: var(--accent-1);
  border-radius: 0.5rem;
}

.pause-form {
  margin-top: 1rem;
}

.submit-error {
  color: var(--accent-1);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.success-message {
  line-height: 1.6;
  max-width: 500px;
  font-size: 1.5rem;
  color: var(--accent-2);
  margin-top: 1rem;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* LEGAL PAGES STYLING */

.legal-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  line-height: 1.2;
  font-size: 0.9rem;
}

.legal-page-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  padding: 0rem 2rem 7rem;
}

.terms-container > *,
.privacy-container > * {
  margin-bottom: 1rem;
}

.terms-container > h1,
.privacy-container > h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

.terms-container section h2,
.privacy-container section h2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 0.5rem;
}

.terms-copy {
  margin-bottom: .7rem;
}

.legal-logo {
  position: absolute;
  top: -1rem;
  left: -0.5rem;
  width: 152px;
  padding: 1rem 0rem 1rem 0.5rem;
  background-color: var(--white);
  border-bottom-right-radius: 1rem;
}

.legal-logo-arch-right,
.legal-logo-arch-left {
  position: absolute;
}

.legal-logo-arch-right {
  top: -14.5px;
  left: 129.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.legal-logo-arch-left {
  top: 62.5px;
  left: -14.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.legal-header,
.legal-last-updated {
  align-self: center;
}

.legal-last-updated {
  margin-top: -0.5rem;
  font-size: 0.8rem;
  font-weight: 100;
}

.legal-link {
  color: var(--font-accent-1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.legal-link:hover {
  color: var(--font-accent-3);
}

.terms-container .back-button,
.privacy-container .back-button {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  color: var(--font-primary);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  background: var(--accent-1);
  border: 1px solid var(--font-accent-1);
  border-radius: 0.5rem;
}

.back-button-icon {
  font-size: 1.2rem;
}

/* 404 PAGES STYLES */
.not-found-logo {
  position: absolute;
  top: -1rem;
  left: -0.5rem;
  width: 152px;
  padding: 1rem 0rem 1rem 0.5rem;
  background-color: var(--white);
  border-bottom-right-radius: 1rem;
}

.not-found-logo-arch-right,
.not-found-logo-arch-left {
  position: absolute;
}

.not-found-logo-arch-right {
  top: -14.5px;
  left: 129.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.not-found-logo-arch-left {
  top: 62.5px;
  left: -14.5px;
  width: 30px;
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    var(--white) 15.5px
  );
}

.not-found-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: calc(100vh - 2rem);
  color: var(--accent-1);
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
}

.not-found-header-container {
  display: flex;
  align-items: center;
  font-size: 7rem;
}

.not-found-header {
  margin-top: .5rem;
  font-size: 3rem;
}

.not-found-subhead {
  margin: 1rem 0 3.5rem;
  font-weight: 200;
  font-size: 1.5rem;
  color: var(--white);
}

.not-found-eyes {
  width: 100px;
  height: auto;
  transform: rotate(-25deg);
}




/* MOBILE MEDIA QUERIES  */

@media (max-width: 1100px) {
}

@media (max-width: 1000px) {
  .steps-content {
    display: flex;
    flex-direction: column;
  }

  .steps-content > * {
    margin: 0;
  }

  .steps-left {
    margin-bottom: 2rem;
  }

  .hire-to-section {
    min-height: auto;
  }

  .pricing-radar-container {
    bottom: 30px;
  }

  .intro-cta-copy-container {
    display: flex;
  }

  .intro-cta-copy {
    margin: 0.5rem;
  }

  .intro-cta-numbers {
    height: 100%;
  }

  .faqs-content {
    flex-direction: column;
    width: 100%;
  }

  .faqs-header,
  .faqs-copy,
  .faqs-question-container {
    width: 100%;
  }

  .bottom-cta-container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  .intro-cta-copy-container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .intro-cta-copy {
    margin: 0.5rem 0;
  }

  .products-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1.5rem;
    border: 2px solid var(--background-dark);
    border-radius: 0.5rem;
  }

  .pricing-section {
    padding-bottom: 0;
  }

  .pricing-grid {
    padding: 0;
    margin-top: 3rem;
    height: 100%;
  }

  .work-content,
  .steps-content {
    flex-direction: column;
    width: 100%;
  }

  .faqs-header,
  .faqs-copy,
  .faqs-question-container {
    width: 100%;
  }

  .bottom-cta-container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 800px) {
  .intro-headline {
    margin-top: 7rem;
  }

  .hire-to-section {
    display: flex;
    flex-direction: column;
  }

  .benefits-item {
    width: 100%;
    max-width: 500px;
    margin: 0 0 2rem;
  }

  .pricing-content {
    margin: 0;
  }

  .pricing-option-1,
  .pricing-option-2 {
    margin-top: 2.5rem;
  }

  .faqs-section {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .steps-section,
  .benefits-section,
  .work-section,
  .pricing-section,
  .faqs-section {
    padding: 1rem;
  }

  .intro-headline {
    font-size: 3rem;
    line-height: 1.05;
    margin-top: 8rem;
  }

  .benefits-header,
  .products-header,
  .pricing-header,
  .faqs-header {
    font-size: 3rem;
    line-height: 1.05;
  }

  .intro-subhead {
    font-size: 1.1rem;
  }

  .pricing-header-copy-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .pricing-header-copy {
    padding: 1rem 0 0 0;
    text-align: left;
  }

  .pricing-option-3 {
    flex-direction: column;
  }

  .pricing-cta-copy-2 {
    margin-bottom: .5rem;
  }
}

@media (max-width: 450px) {
  .intro-headline {
    font-size: 2.5rem;
    line-height: 1.05;
    margin-top: 8rem;
  }

  .intro-subhead {
    font-size: 1rem;
  }

  .benefits-header .benefits-name {
    font-size: 3rem;
  }

  .benefits-header,
  .products-header,
  .faqs-header,
  .bottom-cta-header {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .products-item {
    font-size: 0.85rem;
  }

  .bottom-cta-logo {
    max-width: 190px;
  }

  .not-found-header-container {
    font-size: 5rem;
  }

  .not-found-header {
    margin-top: .5rem;
  }

  .not-found-subhead {
    font-size: 1.2rem;

  }

  .not-found-eyes {
    width: 70px;
    height: auto;
    transform: rotate(-25deg);
    z-index: -1;
  }

}


/* MOBILE MEDIA QUERIES  */

@media (max-width: 1100px) {
  /* Existing styles */

  #work {
    scroll-margin-top: -150px; /* Slightly reduced for medium screens */
  }

  #pricing {
    scroll-margin-top: -65px; /* Slightly reduced for medium screens */
  }
}

@media (max-width: 900px) {
  /* Existing styles */
  .intro-cta-copy-container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .intro-cta-copy {
    margin: 0.5rem 0;
  }

  .products-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1.5rem;
    border: 2px solid var(--background-dark);
    border-radius: 0.5rem;
  }

  .pricing-section {
    padding-bottom: 0;
  }

  .pricing-grid {
    padding: 0;
    margin-top: 3rem;
    height: 100%;
  }

  .faqs-content,
  .work-content {
    flex-direction: column;
    width: 100%;
  }

  .steps-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .faqs-header,
  .faqs-copy,
  .faqs-question-container {
    width: 100%;
  }

  .bottom-cta-container {
    width: 100%;
    margin-top: 2rem;
  }

  /* Add scroll margin adjustments */
  #work {
    scroll-margin-top: -120px; /* Further reduced for tablet */
  }

  #pricing {
    scroll-margin-top: -50px; /* Further reduced for tablet */
  }
}

@media (max-width: 600px) {

  /* Add scroll margin adjustments */
  #work {
    scroll-margin-top: -80px; /* Much smaller for mobile */
  }

  #pricing {
    scroll-margin-top: -30px; /* Much smaller for mobile */
  }

  #about,
  #faqs {
    scroll-margin-top: 15px; /* Slightly reduced for mobile */
  }
}
